h1 {
font-size: 56px;
color: blue;
}

h2 {
    font-size: 36px;
    color: green;
    font-family: 'Arial', sans-serif;
    font-weight: 100;
    letter-spacing: .05em;  
    }

.heading_html {
    color: red;
}

.heading_css {
    color: green;
    }

.heading_js {
    color: #facc14;
    }

li {
    font-size: 20px;
    color: purple;
    }